$body-color: white;
$body-bg: #18230f;
// $primary: #18230f;
$primary: #51c978;
$secondary: #324924;

$input-placeholder-color: white;

#requestLimit {
  width: fit-content;
}

.invert {
  filter: invert(1);
}

.responsive-width {
  width: 100%; /* Default for mobile */
}

body {
  max-height: 100vh;
}
#queue-main {
  overflow-y: auto !important;
}

// removes the spin buttons from number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 576px) {
  .bg-footer-responsive {
    background-color: $secondary;
  }
}

@media (min-width: 576px) {
  .responsive-width {
    width: 75%; /* 75% width on small screens and above */
  }
  .h-sm-25 {
    height: 25% !important;
  }
  .bg-footer-responsive {
    background-color: $secondary;
  }
}

@media (min-width: 768px) {
  .responsive-width {
    width: 50%; /* 50% width on medium screens and above */
  }
  .h-md-25 {
    height: 25% !important;
  }
  #queue {
  max-height: 50vh;
  overflow-y: auto;
}
  .bg-footer-responsive {
    background-color: $body-bg;
  }
}

@media (min-width: 992px) {
  .responsive-width {
    width: 25%; /* 25% width on large screens and above */
  }
  .h-lg-25 {
    height: 25% !important;
  }

  .bg-footer-responsive {
    background-color: $body-bg;
  }
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.625em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  // background: $secondary;
  border: solid;
  border-width: 0.1em;
  border-radius: 50px;
  border-color: $primary;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.05em;
  width: 1.05em;
  left: 0.17em;
  bottom: 0.17em;
  background-color: $primary;
  border-radius: 50px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: $primary;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px $secondary;
}

.switch input:checked + .slider:before {
  background-color: white;
  translate: 0.9em 0.05em;
  width: 1.5em;
  height: 1.5em;
  bottom: 0;
}

.no-scroll {
  overflow-y: hidden !important;
}

body {
  font-family: "Lobster", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $body-bg;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $secondary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@import "../node_modules/bootstrap/scss/bootstrap";

$utilities: map-merge(
  $utilities,
  (
    "height": (
      property: height,
      class: h,
      responsive: true,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);
